# Managed by Ansible — pve-network role (frr OSPF config)
# Runs OSPF on cluster fabric NICs only. eth-mgmt is excluded.
# Redistributes connected /30 routes so all nodes can reach all cluster-link IPs.

frr version 9.1
frr defaults traditional
hostname {{ inventory_hostname }}
log syslog informational
no ipv6 forwarding

router ospf
 ospf router-id {{ cluster_links[0].local_ip }}
 redistribute connected
{% for link in cluster_links %}
 network {{ link.local_ip }}/{{ link.prefix }} area {{ ospf_area }}
{% endfor %}
!

line vty
!
