{
  "id": "pxe-proxmox",
  "name": "Proxmox VE {{ pve_version }} Unattended Install",
  "ignition_id": "",
  "boot": {
    "kernel": "/assets/linux26",
    "initrd": [
      "/assets/initrd.img"
    ],
    "args": [
      "initrd=initrd.img",
      "vga=788",
      "proxmox-auto-install-answer-file-url=http://{{ cluster.boot_server_ip }}:8080/assets/answers/{% raw %}{{ .metadata.hostname }}{% endraw %}.toml",
      "proxmox-auto-install-answer-file-url-cert-fingerprint=",
      "quiet"
    ]
  }
}
